.vscode/**
.vscode-test/**
.git/
.gitignore
.github/
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
**/.vscode-test.*

docs/**
CHANGELOG.md
developer-guide.md
LICENSE.md
README.md
